*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #a8a8a8; 
    text-transform: capitalize;  
}
.form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width: 600px;
    margin:auto;  
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content input,select {
    padding: 8px;
}
.content textarea{
    resize: vertical;
}
.radio_button{
    display: flex;
}