@font-face {
    font-family: title_font;
    src: url(../font/Playwrite_CU/PlaywriteCU-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
:root{
    --box_shadow_light:8px 8px 8px rgb(230, 227, 227);
    --box_shadow_dark:10px 10px 10px 10px black;
    --border:2px solid rgb(54, 53, 53);
}
/* header */
.header .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    box-shadow:var(--box_shadow_light);
}
.header .header_content{
    width: 100%;
    height: auto;
    box-shadow:var(--box_shadow_light);
    margin:8px 0;
    padding:20px 0;
}
.logo_title{
    color: red;
    font-family: title_font;
}
/* navbar */
.header_content .navbar{
    background-color: #767676;
    border:var(--border) ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar .navbar_item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_item li{
    padding: 10px;
    list-style-type: none;
}
.navbar_item a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.navbar_item a:hover{
    background-color: red;
    border-radius: 8px;
    padding: 0 5px;
}
/* header background  */
.background_grid{
    min-height: 35vh;
    background-image: url(./images/dess.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-origin: padding-box;
    border:var(--border);
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}
.background_grid .background_items{
    width: fit-content;
    display: grid;
    justify-items: center;
    gap: 20px;
    margin:20px auto;   
}
.background_items .background_item{
    display:inline-grid;
    justify-items: center;
    margin:20px;
    position: relative;
}
.background_items .title{
    text-transform: capitalize;
    margin-bottom: 15px;
}
.img_grid{
    position: relative;
    justify-items: center;
    align-items: center;
}
/* buttons style */
.btn{
    text-transform: capitalize;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 3px;
    font-weight: bold;
    font-size: .7em;
    border-radius: 6px;
    background-color: yellow;
}
.btn:hover{
    background-color: red;
}
.prices,.specials{
    grid-template-columns:350px;
    justify-items: center;
    align-items: center;
    box-shadow: var(--box_shadow_dark);
    border-radius: 25px;
    border: var(--border);
}
.image{
    width: 100%;
    grid-template-columns:300px;
    justify-items: center;
    align-items: center;
    box-shadow: var(--box_shadow_dark);
    border-radius: 25px;
    border: var(--border);
}
.prices_btn ,.specials_btn{
    position: absolute;
    top: 80%;
}
/* content style */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.items{
    display: flex;
    flex-wrap: wrap;
}
.item{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 15px; 
}
.item .order_btn{
    position: absolute;
    top: 90%;
    left: 40%;
}
.item img{
    border-radius: 15px;
    border: var(--border);
    width: 100%;
    height: 100%;
}
/* responsive style */
/* ipad pro style */
@media only screen and (max-width: 1024px){
    .prices,.specials{
        grid-template-columns:200px;
    }
    .items{
        flex-wrap: wrap;
        gap: 5px;
        margin: 25px;
    }
    .item_1,.item_2{
        flex: 45%;
        max-width: 50%;
    }
    .item_3{
        flex: 100%;
        max-width: 100%;
    }

}
/* iphon6/7/8 plus style*/
@media screen and (max-width: 495px){
    .prices,.specials{
        grid-template-columns:130px;
    }
    .items{
        display: flex;
        justify-content: center;
    }
    .item_1,.item_2,.item_3{
        flex: 45%;
        max-width: 50%;
    }
  
}
 